<footer class="mt-4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="container-fluid p-5 bg-dark navbar-dark text-light">
        <div class="row">

            <!-- Tổng quan -->
            <div class="col-md-2 col-sm-6 col-xs-6">
                <h3>Tổng quan</h3>
                <ul class="list-unstyled">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="#">Hàng mới về</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                </ul>
            </div>

            <!-- Thông tin -->
            <div class="col-md-2 col-sm-6 col-xs-6">
                <h3>Thông tin</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Chuyển phát tối ưu</a></li>
                    <li><a href="#">Đổi trả dễ dàng</a></li>
                    <li><a href="#">Bảo hành trách nhiệm</a></li>
                    <li><a href="#">Tiết kiệm tối đa</a></li>
                    <li><a href="#">Bảo mật thông tin</a></li>
                    <li><a href="#">Liên hệ Spring Commerce</a></li>
                </ul>
            </div>

            <!-- Liên hệ -->
            <div class="col-md-5 col-sm-6 col-xs-12">
                <h3>Liên hệ</h3>
                <ul class="list-unstyled">
                    <li class="footer-cty"><i class="fa fa-home"></i> <b>Địa chỉ</b>: <a href="https://goo.gl/maps/ChFvL4a9bAyTqTuP6"><span>19 Đ. Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Thành phố Hồ Chí Minh, Vietnam.</span></a></li>
                    <li><i class="fa-solid fa-clock"></i> <b>Giờ làm việc</b>: <span>Thứ 2 - Thứ 7: 8h00 đến 17h30, Chủ Nhật nghỉ.</span></li>
                    <li><i class="fa fa-envelope"></i> <b>Email bán hàng</b>: <a href="pham.duykhoa1303@gmail.com"><span>pham.duykhoa1303@gmail.com</span></a></li>
                    <li><i class="fa fa-phone"></i> <b>Điện thoại</b>: <span>0562852109 (Mr. Khoa)</span></li>
                </ul>
            </div>

            <!-- Thanh toán -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Thanh toán</h3>
                <ul class="list-unstyled">
                    <li><i class="fa-regular fa-money-bill-1"></i> Thanh toán trực tiếp</li>
                    <li><i class="fa fa-credit-card"></i> Thanh toán qua thẻ</li>
                    <li><i class="fa fa-university"></i> Chuyển khoản ngân hàng</li>
                </ul>
            </div>

            <!-- Kết nối -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <h3>Kết nối</h3>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa-brands fa-facebook text-light"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube text-light"></i> Youtube</a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram text-light"></i> Instagram</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>